.back{
    background-color: rgb(35, 35, 72);
    width: 100vw;
    height: 45vh;
    border-radius: 10px;
    color: aliceblue;
    margin-left: -3rem;
    text-align: center;
    padding: 40px;
}
.cont{
    font-size: 40px;
}
.us{
    font-size: 17px;
}
.cardus{
    width: 48rem;
    border-radius: 0;
    padding: 40px;
}
.details{
    margin-top: -5rem;
}
.ibox{
    height: 7vh;
    width: 40rem;
}
.ibtn{
    text-align: center;
    height: 7vh;
    width: 10rem;
    border-radius: 0;
}
.det{
    width: 40rem;
}
.btnn{
    text-align: center;
}
.down{
    display: flex;
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 72);
    width: 100vw;
    height: 45vh;
    margin-left: -3rem;
}
.ll{
    color: aliceblue;
    display: flex;
    width: 25rem;
    height: 25vh;
    background-color: rgba(240, 248, 255, 0.201);
}
.rr{
    color: aliceblue;
    display: flex;
    width: 25rem;
    height: 25vh;
    background-color: rgba(240, 248, 255, 0.201);
}
.loggg{
    height: 80px;
    width: 80px;
}
.chats{
    padding: 8px;
}
@media screen and (max-width: 870px){
    .details{
        margin-left: -1.6rem;
    }
    .cardus{
        width: 88.27586206896552vw;
    }
    .ibox, .det{
        width: 73.73271889400921vw;
    }
    .down{
        height: 65vh;
    }
}