
.circlecat{
    background-color: rgba(202, 17, 63, 0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 3rem;
    height:3rem;
    border: 1px solid white;
    box-shadow: 4px 4px 15px black;
    align-items: center;
    cursor:pointer;
    font-size: 1.5rem;
    
}
.btnsearch{
    background-color: rgba(202, 17, 63, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid white;
}
.btnsearch:hover{
    background-color: rgba(202, 17, 63, 0.986) ;
    border: 1px solid white;
}
.boxcat{
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 4px 4px 15px black;
    align-items: center;
    width:61.8vw;
}
.linkcard{
    text-decoration: none;
    color: initial;
}
.linkcard:hover{
    color: initial;
}
.cardbottom{
    position:absolute;
    bottom: 10px;
    left:85px;
}
.circlecat:hover,.circlecat:active{
    background-color: rgba(202, 17, 63, 0.986) ;
    color:white;
   font-size:2em;
   animation-name: rot;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
   
}
@keyframes rot{
    20% {transform: rotate(0deg);}
    40% {transform: rotate(30deg);}
    80% {transform: rotate(-30deg);}
    100% {transform: rotate(0deg);}
  }
  .card{
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 4px 4px 15px black;
    align-items: center;
    width:21em;
    height:520px;
    backface-visibility: hidden;
    transition:all 0.2s;
}
.card:hover{
    transform: scale(1.1);
}
.cardbody{
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    height:250px;
    width: 100%;
    position : relative;
}
.cardimgtop{
    height:15em;
    width:21em;
    padding:1.5em;
    margin-bottom: 0;
    border-radius: 2rem;
}
.cent{
    position: relative;
    margin: 40px;
    display: flex;
    justify-content: center;
}
.skill{
    width:160px;
    height:160px;
    position:relative;
 }
 .outer{
     height:70px;
     width:70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .inner{
     height:50px;
     width:50px;
     border-radius: 50%;
     background: whitesmoke;
 }
 .amount{
    height: 51%;
    
 }
 .number{
     font-weight: 600;
     color: #555;
    }
    .searchbar{
        width:61.8vw;
    
    
    }
    .searchbarinput{
        background-color: rgba(255, 255, 255, 0.4)!important;
    }
    .searchbarinput:focus{
        border-color: #ff80ff ;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5) !important;
    }
   .titletext{
  width: 100%;
  height:3em;
  overflow: hidden;
   }
   .days{
    margin-bottom: 5em;
   }
   .bycolor{
    color:rgba(10, 9, 9, 0.562);
   }