.flist {
    list-style: none;
}

.z {
    padding-left: 0%;
    margin-top: 5vh;
    list-style-type : none;
}
.dr{
    color: rgb(249, 231, 208);
}
.hert{
    color: red;
}
.foothead{
    color: rgb(138, 250, 2);
}
.footfoot{
    color: rgb(255, 255, 255);
}
.zli {
    margin-top: 1vh;
    font-size: smaller;
}

.i{
    color: rgb(255, 238, 169)
}

.footer {
    background-color: rgba(108, 108, 108, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 7px rgba(40, 39, 39, 0.4);
    padding: 8vw;
    font-family: 'Poppins', sans-serif;
}

.join {
    padding: 0.3vw 1vw;
    border-radius: 34vw;
    font-size: medium;
    margin-bottom: 15px;
}

.lastt {
    font-size: small;
}

.navlink{
    cursor : pointer;
    text-decoration: none;
    color: rgb(255, 252, 200);
}
.navlink:hover{
    color  : rgb(254, 2, 65);
}
.join:hover{
    background-color: rgb(168, 4, 45);
} 
.i:hover{
    color  : rgb(254, 2, 65);
    cursor: pointer;
}
