.pics {
    width: 405px;
    height: 20rem;
}
.desc{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(69, 43, 0, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 7px rgba(40, 39, 39, 0.4);
}
.pic {
    border-radius: 10px;
    height: 20rem;
    object-fit: cover;
}
.donde{
    color: rgb(170, 255, 41);
    font-weight: 600;
    line-height: 5vh;
    letter-spacing: 0.1rem;
}
.dondes{
    color: rgb(255, 233, 196);
    padding: 1.2rem;
}
.outer {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    border: 1px solid black;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(239, 219, 193);
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkcard{
    text-decoration: none;
    color: initial;
}
.linkcard:hover{
    color: initial;
}

.h{
    text-align: center;
}
.progress {
    display: flex;
}

.value {
    color: rgb(145, 255, 101);
}

.fline {
    display: flex;
}

.raised {
    color: rgb(255, 255, 255);
}

.days {
    display: flex;
}

.dnow {
    text-align: center;
}

.align {
    display: flex;
}

.pay {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.or {
    display: flex;
}

.line {
    background-color: rgba(0, 0, 0, 0.281);
    height: 1px;
    width: 100px;
}

.du {
    color: rgb(116, 9, 9);
}

.qr {
    height: 200px;
    width: 200px;
}

.scana {
    text-align: center;
}

.qrc {
    text-align: center;
}

.pe1 {
    border: 1px solid red;
}

.pee0 {
    height: 40px;
    width: 35px;
}

.pee2 {
    height: 38px;
    width: 40px;
}

.pee3 {
    height: 38px;
    width: 45px;
}

.pee1 {
    height: 40px;
    width: 40px;
}
.donate {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 7px rgba(40, 39, 39, 0.4);
}

@media screen and (max-width: 984px) {
    .pics {
        margin: auto;
    }
}
/* @media screen and (max-width: 937px) {
    .doq{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .rise{

        display: flex;
        justify-content: center;
    }
} */