/* .boddy {
    height: 100vh;
} */

.acclsidecont {
    background-color: rgba(254, 2, 65, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 15px black;
    width: 87%;
    height: 90vh;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-right: 8rem;
}

.acclside {

    /* background-color: rgba(254, 2, 65, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-shadow: 4px 4px 15px black; */
    width: 100%;
    height: 2.6em;
    font-size: 1.5em;
    color: aliceblue;
}

.profilespace {
    height: 20vh;
    background: white;
    /* border-left: thick solid rgba(202, 17, 63, 0.986); */
}

.accig {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.hr {
    border: black;
    border-width: 100px;
}

.accig1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -8vh;
    margin-left: 5vw;
}

.data {
    padding-left: 5vw;
    /* border-left: thick solid rgba(202, 17, 63, 0.986); */
}

.ngobox {
    background-color: rgba(3, 3, 3, 0.795);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-shadow: 4px 4px 15px black;
    font-size: 1.3em;
    color: aliceblue;
    /* height: 9rem; */
}

.picborder {
    border: 2px solid black;
}

.donatebox {
    font-size: 1.3rem;
    color: aliceblue;
    /* border-left: thick solid rgba(202, 17, 63, 0.986); */
    /* border-top:thick solid rgba(202, 17, 63, 0.986); */
    position: relative;
    background-color: rgba(58, 22, 22, 0.267);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-shadow: 4px 4px 15px black;
    width: 47%;
    margin-left: 1rem;
    margin-top: 10rem;
}

.cornerheart {
    position: absolute;
    top: -80px;
    left: -30px;


    animation-name: heartanim;
    animation-duration: 900ms;
    animation-delay: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heartanim {
    from {
        /* transform: rotate(300deg); */

        transform: scale(5);
        color: pink;
    }

    to {

        color: rgba(202, 17, 63, 0.986);
        transform: scale(7.2);
    }
}

/* .heart{
    background-color: rgba(202, 17, 63, 0.986);
} */
.plusbutton {
    /* margin: -1rem; */
    height: 5vh;
    width: 5vh;
    background-color: antiquewhite;
    color: black;
    clip-path: ellipse(67% 69% at 67% 20%);
    padding-bottom: 3em;
    transition: all 0.2s;
}

.plusbutton:hover {
    transform: scale(1.4);
    background-color: rgba(202, 17, 63, 0.986);
    color: white;
}

.plus:active {
    border-color: rgba(202, 17, 63, 0.986) !important;

}

.donatecard,
.issuecard {
    width: 18rem;
    transform: scale(0.7);

}

.issuebox {
    font-size: 1.3em;
    color: aliceblue;
    background-color: rgba(212, 87, 118, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-shadow: 4px 4px 15px black;
    width: 47%;
    margin-left: 3rem;
    margin-top: 10rem;
}

.donatecardbody {
    background-color: rgba(202, 17, 63, 0.986);
}

.issuecardbody {
    background-color: rgba(202, 17, 63, 0.986);
}

.leftborder {
    border-left: thick solid rgba(202, 17, 63, 0.986);
}
.ngoimg{
    height:9rem;
    width:9rem;
    background: white;
    /* padding: 3rem; */
}